VITE_WFS_API_URL=https://climate.gg.go.kr/ols/api/geoserver/wfs
VITE_WFS_API_KEY=your_wfs_api_key_here
VITE_EMD_API_URL=https://openapi.gg.go.kr/TB25BPTGGSIGEMDLOCM
VITE_EMD_API_KEY=your_emd_api_key_here
